---
apiVersion: {{ operator_domain }}/v1
kind: ResourceProvider
metadata:
  name: {{ name | default('test') }}
  namespace: {{ operator_namespace }}
spec:
  match:
    apiVersion: {{ operator_domain }}/v1
    kind: ResourceClaimTest
    metadata:
      annotations:
        {{ operator_domain }}/resource-provider-name: {{ name | default('test') }}
        {{ operator_domain }}/resource-provider-namespace: {{ operator_namespace }}
  resourceRequiresClaim: {{ resource_requires_claim | default(False) }}
{% raw %}
  matchIgnore:
  - /spec/desiredState
  - /spec/actionSchedule(/.*)?
  # Override is automatically applied when handle is processed
  # Claim init is applied to the claim when it created
  default:
    spec:
      actionSchedule:
        destroy: "{{: timestamp.utcnow.add('8d') if resource_claim else '' :}}"
        stop: "{{: timestamp.utcnow.add('8h') if resource_claim else '' :}}"
      desiredState: started
  override:
    metadata:
{% endraw %}
      namespace: {{ resource_namespace | default(operator_test_namespace) | to_json }}
{% raw %}
    spec:
      etc:
        guid: "{{: resource_handle.metadata.name[-5:] :}}"
  updateFilters:
  - pathMatch: /spec/actionSchedule/destroy
    allowedOps: ['add', 'replace']
  - pathMatch: /spec/actionSchedule/stop
    allowedOps: ['add', 'replace']
  - pathMatch: /spec/desiredState
    allowedOps: ['add', 'replace']
  validation:
    # FIXME - Implement these...
    customValidation:
    - name: destroy schedule must be no more than 14 days from creation
      check: spec.actionSchedule.destroy < timestamp(resource_claim.metadata.creationTimestamp).add('14d')
    - name: stop schedule must be no more than 8 hours from now
      check: spec.actionSchedule.stop < timestamp.utcnow.add('8h')
    openAPIV3Schema:
      type: object
      required:
      - apiVersion
      - kind
      - spec
      additionalProperties: false
      properties:
        apiVersion:
          type: string
          enum:
{% endraw %}
          - "{{ operator_domain }}/v1"
{% raw %}
        kind:
          type: string
          enum:
          - ResourceClaimTest
        metadata:
          type: object
          additionalProperties: false
          properties:
            annotations:
              type: object
              additionalProperties:
                type: string
            generateName:
              type: string
        spec:
          type: object
          required:
          - governor
          additionalProperties: false
          properties:
            actionSchedule:
              type: object
              additionalProperties: false
              properties:
                destroy:
                  pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
                  type: string
                stop:
                  pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z$
                  type: string
            desiredState:
              type: string
              enum:
              - started
              - stopped
            governor:
              type: string
            parameters:
              type: object
{% endraw %}
