---
apiVersion: gpte.redhat.com/v1
kind: ResourceProvider
metadata:
  name: {{ name | default('test') }}
  namespace: {{ operator_namespace }}
spec:
  match:
    apiVersion: gpte.redhat.com/v1
    kind: ResourceClaimTest
    metadata:
      annotations:
        gpte.redhat.com/resource-provider-name: {{ name | default('test') }}
        gpte.redhat.com/resource-provider-namespace: {{ operator_namespace }}
  matchIgnore:
  - /spec/desiredState
  default: {}
  override:
    metadata:
      namespace: {{ operator_test_namespace }}
{% raw %}
    spec:
      etc:
        guid: "{{: resource_handle.metadata.name[-5:] :}}"
  updateFilters:
  - pathMatch: /spec/desiredState
  validation:
    openAPIV3Schema:
      type: object
      required:
      - apiVersion
      - kind
      - spec
      additionalProperties: false
      properties:
        apiVersion:
          type: string
          enum:
          - gpte.redhat.com/v1
        kind:
          type: string
          enum:
          - ResourceClaimTest
        metadata:
          type: object
          additionalProperties: false
          properties:
            annotations:
              type: object
              additionalProperties:
                type: string
        spec:
          type: object
          required:
          - governor
          additionalProperties: false
          properties:
            desiredState:
              type: string
              enum:
              - deployed
              - idled
            governor:
              type: string
            parameters:
              type: object
{% endraw %}
