inflection==0.5.1
Jinja2==3.0.3
jmespath==0.10.0
jsonschema==3.2.0
openapi-schema-validator==0.1.5
prometheus-client==0.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyOpenSSL==20.0.1
python-dateutil==2.8.1
python-string-utils==1.0.0
PyYAML==5.4.1
requests==2.26.0
urllib3==1.26.6
Werkzeug==1.0.1
