---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: poolboy:{{ poolboy_test_anarchy_namespace }}:anarchy
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: poolboy:{{ poolboy_test_anarchy_namespace }}:anarchy
subjects:
- kind: ServiceAccount
  namespace: {{ poolboy_test_anarchy_namespace }}
  name: anarchy
