---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ poolboy_test_babylon_anarchy_namespace }}:anarchy:poolboy
  annotations:
    description: >-
      This cluster role is used to allow anarchy to manage poolboy claims and handles.
rules:
- apiGroups:
  - {{ poolboy_domain }}
  resources:
  - resourceclaims
  - resourcehandles
  verbs:
  - delete
  - get
  - list
  - patch
  - update
