---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ poolboy_namespace }}:poolboy:anarchy
  namespace: {{ poolboy_test_babylon_anarchy_namespace }}
  annotations:
    description: >-
      This rolebinding allows poolboy to manage anarchy resources.
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ poolboy_namespace }}:poolboy:anarchy
subjects:
- kind: ServiceAccount
  name: {{ poolboy_service_account }}
  namespace: {{ poolboy_namespace }}
