---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ (poolboy_namespace ~ '-test') | to_json }}
rules:
- apiGroups:
  - {{ poolboy_domain | to_json }}
  resources:
  - resourceclaimtests
  verbs:
  - create
  - delete
  - deletecollection
  - get
  - list
  - patch
  - watch
  - update
