---
apiVersion: {{ poolboy_domain }}/v1
kind: ResourcePool
metadata:
  name: test
  namespace: {{ poolboy_namespace }}
spec:
  minAvailable: 3
  resources:
  - provider:
      apiVersion: {{ poolboy_domain }}/v1
      kind: ResourceProvider
      name: test
      namespace: {{ poolboy_namespace }}
    template:
      apiVersion: {{ poolboy_domain }}/v1
      kind: ResourceClaimTest
      metadata:
        generateName: test-pool-
        annotations:
          {{ poolboy_domain }}/resource-provider-name: test
          {{ poolboy_domain }}/resource-provider-namespace: {{ poolboy_namespace }}
        namespace: {{ poolboy_test_namespace }}
      spec:
        governor: test
        vars:
          desired_state: stopped
          name: test-pool
          foo: bar
          number: 23
  - provider:
      apiVersion: {{ poolboy_domain }}/v1
      kind: ResourceProvider
      name: test-claim-required
      namespace: {{ poolboy_namespace }}
    template:
      apiVersion: {{ poolboy_domain }}/v1
      kind: ResourceClaimTest
      metadata:
        generateName: test-claim-required-pool-
        annotations:
          {{ poolboy_domain }}/resource-provider-name: test-claim-required
          {{ poolboy_domain }}/resource-provider-namespace: {{ poolboy_namespace }}
      spec:
        governor: test
        vars:
          desired_state: stopped
          name: test-pool
          foo: bar
          number: 2323
