---
apiVersion: {{ poolboy_domain }}/v1
kind: ResourceProvider
metadata:
  name: test-disable-creation
  namespace: {{ poolboy_namespace }}
spec:
  disableCreation: true
  override:
    apiVersion: {{ poolboy_domain }}/v1
    kind: ResourceClaimTest
    metadata:
      generateName: test-disable-creation-
      namespace: {{ poolboy_test_namespace }}
  validation:
    openAPIV3Schema:
      type: object
      required:
      - spec
      additionalProperties: false
      properties:
        spec:
          type: object
          required:
          - testvalue
          additionalProperties: false
          properties:
            testvalue:
              type: string
