---
apiVersion: {{ poolboy_domain }}/v1
kind: ResourceProvider
metadata:
  name: test-name
  namespace: {{ poolboy_namespace }}
spec:
  override:
    apiVersion: {{ poolboy_domain }}/v1
    kind: ResourceClaimTest
    metadata:
{% raw %}
      name: test-name-{{ resource_name }}
{% endraw %}
      namespace: {{ poolboy_test_namespace }}
    spec:
      vars:
{% raw %}
        guid: >-
          {{ resource_handle.metadata.name[5:] }}
{% endraw %}
  template:
    enable: true
  validation:
    openAPIV3Schema:
      type: object
      required:
      - spec
      additionalProperties: false
      properties:
        spec:
          type: object
          additionalProperties: false
          properties:
            vars:
              type: object
              properties:
                foo:
                  default: ''
                  type: string
